widgetproxy-static/node_modules/
widgetproxy-static/static/dist
widgetproxy-static/doc/


# Systemove
*.DS_Store
*._.DS_Store

# Editory
.project
.pydevproject
.cproject
.settings
.classpath
.idea
._*
*.iml
*.kdev4
*~

# Python
*.py[co]
*.egg-info
.eggs
.cache
/venv/
.pytest_cache/
build
dist

# C
*.o
*.a
*.so

# Testy
__pycache__
.testmondata
.coverage*
*.cover
*.lprof
.mypy_cache
.benchmarks
**/test_output

# HANS
runners-setup.sh

# Dokumentace
build

# Balickovani
*.deb
*.dsc
*.tar.gz
*.tar.xz
*.changes
*.debhelper
*.debhelper.log
**/debian/files
**/debian/*.substvars
**/debian/*.debhelper
**/debian/szn-*/
**/debian/tmp
**/build
**/.build
*.build
*.pybuild

# Autotools
**/.deps
aclocal.m4
autom4te.cache
config.log
config.status
depcomp

# Lokalni konfigurace
local.py
*_local.conf
*-local.conf

# Jupyter notebooks
.ipynb_checkpoints

# PySpark
derby.log
metastore_db
